



header {
    height: 30vh;
    width: 100vw;
    background: url('../images/pattern-bg.png');
    background-size: cover;
    position: fixed;
    top: 0;

    h1 {
        color: white;
    }
}

.header-name {
    font-size: 1.5rem;
}